@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

:local(.main) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'BalletTitleFont', cursive;
}

:local(.main) h1 {
  font-size: 3vw;
}

/* S1Image styles */
:local(.image) {
  height: 100vh;
}

:local(.image) video {
  background-size: 100%;
  height: auto;
  min-height: 92vh;
  min-width: 100%;
  position: fixed;
  transition: 1s opacity;
  width: auto;
  z-index: -1;
}

:local(.image) h1 {
  animation: slide 2s 0.2s ease;
  color: #ce8888;
  font-size: 64px;
  line-height: 92vh;
  position: fixed;
  text-align: center;
  text-shadow: 7px 5px 11px black;
  width: 100%;
  z-index: -1;
}

:local(.image) figure {
  display: none;
  position: fixed;
  z-index: -1;
}

@media (max-width: 960px) {
  :local(.image) video {
    display: none;
  }

  :local(.image) h1 {
    display: none;
  }

  :local(.image) figure {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    position: fixed;
    text-align: center;
  }

  :local(.image) figure img {
    height: 91vh;
    object-fit: cover;
    width: 100%;
  }

  :local(.image) figure figcaption {
    align-self: center;
    animation: slide 2s 0.2s cubic-bezier(0.25, 0.85, 0.4, 0.83);
    color: rgb(245, 132, 132);
    font-size: 2.2rem;
    height: 79vh;
    line-height: 79vh;
    position: absolute;
    text-align: center;
    text-shadow: 1px 3px 13px white;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  :local(.image) figure figcaption {
    font-size: 6vw;
  }
}

/* stub styles */
:local(.stub) {
  background-color: transparent;
  height: 11vh;
  position: absolute;
  top: 88vh;
  width: 100%;
}

:local(.stub) div {
  text-align: center;
  transform: translateY(90%);
  width: 100%;
  z-index: 1;
}

:local(.stub) span.split {
  border-right: 2px solid #ffb2b2;
}

:local(.stub) h1 {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
  margin: 0 10vw;
}

@media (max-width: 960px) {
  :local(.stub) h1 {
    margin: 0;
  }
}

/* S2UpcomingEvents styles */
:local(.upcomingEvents) {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:local(.upcomingEvents) article {
  width: 100vw;
}

:local(.upcomingEvents) article figure {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 8vh 10vw 0;
}

:local(.upcomingEvents) article:last-child  figure {
  margin-bottom: 8vh;
}

:local(.upcomingEvents) article figure img {
  margin-left: 2vw;
  object-fit: cover;
  transition: 0.5s ease;
  width: 36rem;
}

@media (max-width: 1200px) {
  :local(.upcomingEvents) article figure img {
    object-fit: cover;
    width: 48vw;
  }
}

@media (max-width: 840px) {
  :local(.upcomingEvents) article figure img {
    object-fit: cover;
    width: 48vw;
  }
}

:local(.upcomingEvents) article figure figcaption {
  margin-left: 2vw;
  width: 23vw;
}

@media (max-width: 840px) {
  :local(.upcomingEvents) article figure figcaption {
    margin-left: 2vw;
    width: auto;
  }
}

:local(.upcomingEvents) article figure figcaption h2 {
  font-size: 2.4rem;
  margin-bottom: 2vh;
}

@media (max-width: 840px) {
  :local(.upcomingEvents) article figure figcaption h2 {
    font-size: 1.6rem;
  }
}

:local(.upcomingEvents) article figure figcaption time {
  font-size: 0.7rem;
  margin-left: 5vw;
}

:local(.upcomingEvents) article figure figcaption p {
  font-family: 'BalletDescriptionFont', sans-serif;
  font-size: 0.7rem;
  margin-left: 5vw;
}

:local(.upcomingEvents) article figure figcaption button {
  background-color: transparent;
  border: 2px solid rgb(245, 132, 132);
  color: rgb(245, 132, 132);
  font-family: 'BalletDescriptionFont', sans-serif;
  font-size: 0.8rem;
  height: 2rem;
  margin-top: 2vh;
  transition: 0.5s ease;
  width: 8rem;
}

:local(.upcomingEvents) article figure figcaption button:hover {
  background: rgb(245, 132, 132);
  color: white;
  cursor: pointer;
}

/* S3School styles */
:local(.school) {
  align-items: center;
  background: url(../../../assets/images/3.jpeg) no-repeat;
  background-position: 10%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 18vh;
  padding-top: 12vh;
}

:local(.school) h1 {
  align-self: center;
  font-size: 2rem;
  padding-bottom: 6vh;
}

:local(.school) p {
  background-color: rgba(0, 0, 0, 0.2);
  color: #dcd8d8;
  font-family: 'BalletDescriptionFont', sans-serif;
  font-size: 1rem;
  padding: 3vh 20vw;
  text-align: center;
  text-shadow: 8px 4px 16px black;
}

/* S4Classes styles */
:local(.classes) {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 18vh;
  padding-top: 8vh;
}

:local(.classes) h1 {
  font-size: 2rem;
}

:local(.classes) div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vh;
  width: 100vw;
}

:local(.classes) div figure {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}

:local(.classes) div figure img {
  height: 25vh;
  object-fit: cover;
  width: 25vw;
}

:local(.classes) div figure figcaption {
  padding-top: 1rem;
  width: 20vw;
}

:local(.classes) div figure figcaption p {
  font-family: 'BalletDescriptionFont', sans-serif;
  font-size: 0.7rem;
}

@media (max-width: 1200px) {
  :local(.school) p {
    font-size: 0.7rem;
  }
}

@media (max-width: 960px) {
  :local(.classes) {
    padding-bottom: 8vh;
    padding-top: 4vh;
  }

  :local(.classes) div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
  }

  :local(.classes) div figure {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  :local(.classes) div figure img {
    height: 12rem;
    object-fit: cover;
    width: 20rem;
  }
}

@media (max-width: 720px) {
  :local(.school) {
    padding-bottom: 8vh;
    padding-top: 4vh;
  }

  :local(.school) h1 {
    padding-bottom: 4vh;
  }

  :local(.school) p {
    padding: 3vh 3vw;
  }

  :local(.upcomingEvents) article figure {
    flex-direction: column;
  }

  :local(.upcomingEvents) article figure img {
    object-fit: cover;
    width: 80vw;
  }
}

@media (max-width: 600px) {
  :local(.classes) div figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  :local(.classes) div figure img {
    object-fit: cover;
    width: 100vw;
  }

  :local(.classes) div figure figcaption {
    width: 80vw;
  }
}