@import "../../assets/stylesheets/_colors.css";

:local(.navbar) {
  background-color: $white;
  display: flex;
  flex-direction: row;
  font-family: 'BalletTitleFont', cursive;
  font-size: 0.6rem;
  height: 7vh;
  padding: 0 5vw;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

:local(.navbar__brand) {
  align-self: center;
  flex: 1;
  font-size: 1rem;
}

:local(.navbar__menu__hamburger) {
  display: none;
  position: absolute;
  right: 2rem;
  line-height: 7vh;

  &:hover {
    cursor: pointer;
    color: $hoverMenuPink;
  }
}

/* .navbar__menu__items styles */
:local(.navbar__menu__items) {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-end;

  & li {
    color: $white;
    list-style-type: none;
    padding: 4px 1vw;

    &.active {
      color: $hoverMenuPink;
    }

    & a {
      transition: 0.2s ease;
    }

    &:hover a {
      border-bottom: 1px solid gray;
      cursor: pointer;
    }

    &.active a {
      border-bottom: 1px solid $hoverMenuPink;
    }
  }
}

:local(.navbar__menu__revealer) {
  position: absolute;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  background: url(../../assets/images/6.jpg) no-repeat center center;
  background-size: cover;
  background-color: $opaqueBlack;
  opacity: 0;

  &.open {
    left: 0;
    opacity: 0.9;
    transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.4s ease-in;
  }

  &.close {
    opacity: 0;
    left: 100vw;
    transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.4s ease-in;
  }
}

/* Responsive */
@media (max-width: 960px) {
  :local(.navbar__menu__items) {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 2;

    & li {
      opacity: 0;
      font-size: 1.2rem;
      padding: 2vh 0;
      z-inde: 3;
    }
  }

  :local(.navbar__menu__items.open) {
    visibility: visible;

    & li {
      opacity: 1;
      z-index: 2;
      transition: opacity 0.6s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  :local(.navbar__menu__hamburger) {
    align-self: center;
    display: block;
    z-index: 3;
    line-height: 7vh;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  :local(.navbar__brand) {
    font-size: 5vw;
  }

  :local(.navbar__menu__items) li {
    font-size: 5vw;
  }
}
