:local(.footer) {
  background-color: #616161;
  font-size: 0.6rem;
  text-align: center;
}

:local(.footer) > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:local(.footer) p {
  padding: 1rem;
}

:local(.address) {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
  width: 90vw;
}

:local(.address) > map {
  height: 30vh;
  width: 30%;
}

:local(.share) div:hover {
  cursor: hover;
}

@media (max-width: 760px) {
  :local(.address) > map {
    width: 70%;
  }
}

